//
//  Board config file
//  ----------------------------------
//  Developed with embedXcode
//  Copyright (c) 2012 http://embedXcode.weebly.com. All rights reserved.
//
//  mpideXcode8
//

BOARD_TAG  = mega2560
BOARD_PORT = /dev/tty.usbmodem*

// References for Xcode code-sense
//
GCC_PREPROCESSOR_DEFINITIONS = __AVR_ATmega2560__
HEADER_SEARCH_PATHS = $(ARDUINO_APP)/** $(SKETCHBOOK_DIR)/Libraries/**
