<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Boards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Clean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Make.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D11DF2F156756180002D8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D11DF33156756180002D8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D11DF34156756180002D8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D11DF35156756180002D8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D11DF36156756180002D8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D11DF37156756180002D8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D11DF38156756180002D8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D11DF39156756180002D8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D11E2A2156765F10002D8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
